body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.card {
  background-color: white;
  margin: 20vh auto;
  width: 400px;
}
html img {
  width: 100%;
}

.card-body {
  margin: 12px;
}

.tag {
  background-color: #2a7a2a;
  padding: 1vh;
  color: white;
}

h2 {
  font-size: 1.2rem;
  padding: auto;
}

p {
  margin-bottom: 10px;
}
